<div class="container-no-padding">
  <div class="row" style="height: 100vh;">
    <div class="col-12 col-md-8 p-4" style="overflow-y: auto;">
      <div class="row">
        <div class="col-sm-1">
          <img src="assets/app-logo.png" alt="App Logo" class="app-logo">
        </div>
        <div class="col-sm-11 ps-3">
          <h1>Account Deletion Guide</h1>
        </div>
      </div>

      <div class="instructions">
        <p>This guide will walk you through deleting your account from the Clubair mobile application.</p>

        <h2>Before We Begin:</h2>

        <ul>
          <li>Deleting your account is permanent.</li>
          <li>Any account details will be removed immidiately.</li>
          <li>Any account details will be removed from any ticket you purchased.</li>
        </ul>
        <h2>How to Delete Your Account</h2>
        <ol>
          <li>Open Clubair mobile app on your device.</li>
          <li>Open menu from home screen.</li>
          <li>Open the settings screen from the settings option in the opened menu.</li>
          <li>Click on 'Remove Account' button from settings screen.</li>
          <li>If you are sure about your account removal click the yes button on the pop up.</li>
          <li>Dont close the application until the process is completed. Once it is completed you will be navigated to app login screen</li>
        </ol>
      </div>
    </div>
    <div class="col-12 col-md-4 d-flex justify-content-center">
      <!-- <img class="illustration" src="assets/illustration.svg" alt="Illustration"> -->
      <video controls name="media" style="width: auto; height: 400px; margin: auto;">
        <source src="assets/video-guide.webm" type="video/webm">
      </video>
    </div>
  </div>
</div>